/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

[data-start] {
  width: 75px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out;
}
[data-start]:hover {
  background-color: #6c8cff;
}
[disabled] {
  background-color: #cfcfcf;
  color: #989898;
  pointer-events: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 36px 156px;
  gap: 32px;
}
#datetime-picker {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
}
.input {
  gap: 8px;
}
.timer {
  display: flex;
  gap: 24px;
}
.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.label {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 16px;
}
.back-link {
  width: 60px;
}
